<mat-drawer-container fullscreen class="example-container">
        <mat-drawer  mode="over" opened>
            <img src="https://i.postimg.cc/XX637GW0/sell.png" alt="logo">
            <h1>SELLCRAFT <br><span>GLOBAL</span><br> SOLUTIONS</h1>
        </mat-drawer>
        <mat-drawer-content><h2>SGS Jobseeker Login </h2>


            

            <form class="example-form" [formGroup]="form" (ngSubmit)="onsubmit (form.value)">
                    <div class="controles-container">
                            <input type="hidden" formControlName="$key">
                            

                <mat-form-field class="example-full-width">
                        
                        <input formControlName="username" matInput placeholder="username" autocomplete="off"> 
                        <mat-error>Username is required</mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input formControlName="password" matInput placeholder="Password"> 
                        <mat-error> Password is required</mat-error>
                    </mat-form-field>
                 </div>
                 
                 <button mat-raised-button color="primary" type="submit">submit</button>

                 <span id="register-link"  class="text-right">
                        <a routerLink='/resjobseeker' class="text-info">Register here</a>
                 </span>

                </form>    
        </mat-drawer-content>
      </mat-drawer-container>

      <router-outlet></router-outlet>
      