.example-container {
  height: 100vh;
  width: 100%;
  /* background-image: url("http://speedwave.co.in/New%20SW/assets/images/slider/n6.jpg"); */
  /* background-image: url("https://images.pexels.com/photos/459654/pexels-photo-459654.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */
  background-image: url("https://images.pexels.com/photos/459654/pexels-photo-459654.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-image: cover;
  /* background-size: 90% 90%; */
}

mat-drawer,
mat-drawer-content {
  padding: 16px;
}

mat-drawer {
  width: 420px;
  background-color: rgb(250, 249, 249);
  /* background-image: url("https://images.pexels.com/photos/459654/pexels-photo-459654.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */
  background-image: url("https://images.pexels.com/photos/459654/pexels-photo-459654.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-image: cover;
}

h1 {
  color: rgb(56, 106, 197);
  /* padding-top: 10%; */
  padding-left: 3%;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: lighter;
}

img {
  /* margin-right: 5%; */
  width: 250px;
  height: 220px;
  padding-top: 30%;
  padding-left: 17%;
}

h2 {
  margin-top: 85px;
  color: rgb(56, 106, 197);
  /* padding-top: 10%; */
  /* padding-left: 3%; */
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container-images {
  width: 60%;
  margin-left: 21%;
}

.row {
  margin-top: -55%;
}

#image1 {
  width: 200px;
  height: 200px;
}

#image1:hover {
  color: coral;
}

#image2 {
  width: 200px;
  height: 200px;
  
}

#image2:hover{
  width: 200px;
  height: 200px;
  color:#ccc;
  /* background-image: url("https://i.postimg.cc/2yPG5S5Z/seeker1.png"   );
  background-repeat: no-repeat;
  background-size: cover; */
}

#button {
  color: rgb(247, 180, 104);
  margin-left: 19%;
  padding: 8px;
  width: 200px;
  margin-top: 30px;
}

#button {
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  background-size: 100% auto;
  box-shadow: 0 2px 3px rgba(99, 2, 2, 0.12), 0 2px 3px rgba(122, 3, 3, 0.521);
  cursor: pointer;
  display: inline-block;
}

#button:hover {
  box-shadow: 0 10px 20px rgba(70, 170, 4, 0.19),
    0 6px 6px rgba(19, 184, 4, 0.23);
}

.text{
  color: rgb(54, 53, 53);
  text-align: center;
  font-size: 1.2rem;
}


